// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//COLOR VARIABLES

$color-primary: #fc4a1a;
$color-primary-light: #fd8c6e;
$color-primary-dark: #cf2e03;

$color-secondary-light: #f7b733;
$color-secondary-dark: #eea309;

$color-tertiary-light: #673ab7;
$color-tertiary-dark: #512da8;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
